<div id="header" class="ui text container">
  <h1>AmaPrime</h1>
  <h3>Grab the best Amazon Prime deals while you can!</h3>
</div>

<div id="carousel_container" class="ui inverted vertical masthead center aligned segment slick">
  <% @products.each do |product| %>
    <div class="ui card product_card">
      <div class="discount content">
        <div style="float: left; text-decoration: line-through;"><%= number_to_currency(product.original_price) %></div>
        <div style="display: inline; font-size: 1.5em; font-weight: bold; color: #4183C4"><%= number_to_percentage(product.percent_discount * 100, precision: 0) %> Off</div>
        <div style="float: right;"><%= number_to_currency(product.sale_price) %></div>
      </div>
      <div class="content">
        <%= link_to image_tag(product.image_link), product.product_link, target: "_blank", class: "image" %>
      </div>
      <div class="content">
        <div class="header"><%= product.title %></div>
        <div class="description">
          
        </div>
      </div>
      <div class="ui bottom attached button">
        <%= link_to (content_tag :i, nil, class: "add icon") + "View on Amazon", product.product_link, target: "_blank" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.slick').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 5000,
      pauseOnFocus: false,
      pauseOnHover: false
    });
  });
</script>
